body{
    background-color: white;
    color: black;
    font-family: "Poppins", sans-serif;
}

.general{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12rem;
    margin-top: 50px;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.08);
    border-radius: 12px;
}

.cambio .formulario {
    background-color: #1b1b1b;
    border: 1px solid #2a2a2a;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}

.nombre{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 200px;
    width: 96%;
    padding: 8px;
    border: 1px solid #c6c6c6;
    border-radius: 6px;
    transition: 0.2s ease;
}

.cambio .nombre {
    border: 1px solid #333;
    background-color: #0f0f0f;
    color: #fff;
}

.clave{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 200px;
    width: 84%;
    padding: 8px;
    border: 1px solid #c6c6c6;
    border-radius: 6px;
    transition: 0.2s ease;
}

.cambio .clave {
    border: 1px solid #333;
    background-color: #0f0f0f;
    color: #fff;
}

.nombre:focus {
    border-color: #4c8bf5;
    box-shadow: 0 0 5px rgba(76,139,245,0.4);
    outline: none;
}

.cambio .nombre:focus {
    border: 1px solid #6366f1; /* un azul suave */
    box-shadow: 0 0 3px #6366f1;
}

.clave:focus {
    border-color: #4c8bf5;
    box-shadow: 0 0 5px rgba(76,139,245,0.4);
    outline: none;
}

.cambio .clave:focus {
    border: 1px solid #6366f1; /* un azul suave */
    box-shadow: 0 0 3px #6366f1;
}

input.error { border: 2px solid red; }
input.valido { border: 2px solid green; }

.botoncambiofondo {
    background-color: #4F46E5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color .3s ease, transform .2s ease;
}

.botoncambiofondo:hover {
    background-color: #3a4463;
    transform: translateY(-2px);
}

body.cambio .botoncambiofondo {
    background-color: #6c7ab5;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    gap: 8px;
    cursor: pointer;
}

body.cambio .botoncambiofondo:hover {
    background-color: #5865F2;
    transform: translateY(-2px);
}

#luna, #sol {
    width: 20px;
    height: 20px;
}

.boton-fondo {
    margin-left: 100px;
    margin-top: 30px;
}

.cambio{
    background-color: #0f0f0f;
    color: #d4d4d4;
}

/* modo claro */
.ojover {
    stroke-width: 1;
    stroke: black;
}

/* modo oscuro */
body.cambio .ojover {
    stroke-width: 1;
    stroke: white;
}

/* modo claro */
.ojonover {
    stroke-width: 1;
    stroke: black;
}

/* modo oscuro */
body.cambio .ojonover {
    stroke-width: 1;
    stroke: white;
}     

.ver{
    display: flex;
    flex-direction: column;
    width: 10%;
    margin-top: -27px;
    margin-left: 355px;
    background-color: transparent;
    border: 0;
}

label{
    font-size: 1.1rem;
    font-weight: bold;
}

.termometro{
    border: 2px solid grey;
    padding: 1px;
    width: 99%;     /* largo del termómetro */
    height: 30px;    /* alto fijo, ahora será horizontal */
   /*width: 50%;            /*asen q cresca de arriba hacia abajo
    height: 200px;*/       /* le das altura fija */
    position: relative;  /* referencia para el líquido */
}

.fondo-termometro{
    position: absolute;
    top: 0;
    right: 0;
    /*bottom: 0;*/
    width: 100%;
    height: 100%;
    background-color: lightgrey;
}

.cambio .fondo-termometro {
    background-color: #1E1E1E;
} 

.liquido-termometro{
    position: absolute;
    top: 0;
    left: 0;  /* empieza desde la derecha */
    /*bottom: 0;*/
    width: 0%; /* ahora crece en ancho */
    /*width: 100%; */  
    background-color: red; /* Color del "líquido" */
    height: 100%; 
    transition: height 0.3s ease; /* animación suave */
}

.mensaje{
    display: flex;
    font-weight: bold;
}

.botones{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cambio .botones {
    gap: 15px;
}

.iniciar{
    width: 100%;
    background-color: #4F46E5;
    color: white;
    padding: 10px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
}

.iniciar:hover{
    background-color: white;
    color: #4F46E5;
    border: 2px solid #4F46E5;
}

.cambio .iniciar {
    background-color: #4f46e5;
    color: white;
    padding: 8px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
}

.cambio .iniciar:hover {
    background-color: #1b1b1b;
    color: #3B5BDB;
    border: 2px solid #3B5BDB;
}

.eliminar {
    width: 100%;
    background-color: #EF4444;
    color: white;
    padding: 10px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
}

.eliminar:hover{
    background-color: white;
    color: #EF4444;
    border: 2px solid #EF4444;
}

.cambio .eliminar {
    background-color: #dc2626;
    color: white;
    padding: 10px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
}

.cambio .eliminar:hover {
    background-color: #1b1b1b;
    color: #FA5252;
    border: 2px solid #FA5252;
}

  /* Define la animación de vibración */
@keyframes shake {
    /*0% { transform: translateX(0); }*/
    25% { transform: translateX(-5px); }
    /*50% { transform: translateX(5px); }*/
    /*75% { transform: translateX(-5px); }*/
    /*100% { transform: translateX(0); }*/
}

/* Clase que aplica la animación */
.apply-shake {
    animation: shake 0.5s linear; /* Nombre de la animación, duración, función de temporización */
}